$backgroundbody: #c3cfe2;
$backgroundmain: #fff;
$backgroundfooter: #686de0;
$textmain: darkgrey;
$textfooter: #fff;

$backgroundblog: #e17b77;
$backgroundtwitter: #3b5998;
$backgroundlinkedin: #00aced;
$backgroundfacebook: #007bb6;
$backgroundgithub: #333;
